<table class='table'>
  <thead>
    <tr><th>Name</th><th>Email</th></tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr><td><%= u.name %></td><td><%= u.email %></td></tr>
    <% end %>
  </tbody>
</table>